{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1> Modification du mot de passe

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}

</div>
{% endblock %}

{% block title %}
Modification de mot de passe
{% endblock %}

