{% extends 'base.html.twig' %}

{% block title %}Edit Portfolio{% endblock %}

{% block body %}
    <h1>Edit Portfolio</h1>

    {{ include('portfolio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('portfolio_index') }}">back to list</a>

    {{ include('portfolio/_delete_form.html.twig') }}
{% endblock %}
