{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<div class="container">
    {% for port in portfolio%}
    <div class="card">

      <img src="{{ asset('image') }}" class="card-img-top" alt="{{ port.id }}">
      <div class="card-body">
        <h5 class="card-title">{{ port.titre }}</h5>
        <p class="card-text">{{ port.description }}</p>
      </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
