{% extends 'base.html.twig' %}

{% block title %}New Experiences{% endblock %}

{% block body %}
    <h1>Create new Experiences</h1>

    {{ include('experiences/_form.html.twig') }}

    <a href="{{ path('experiences_index') }}">back to list</a>
{% endblock %}
