{% extends 'base.html.twig' %}

{% block title %}Hello ImagesController!{% endblock %}

{% block body %}
<div class="container">
    {% for picture in pictures %}
        <div class="row">
    <div class="col-6">
        <img src="{{ picture.url }}" alt="" class="right">
    </div>
    <div class="col-4">
        <h3>{{ picture.titre }}</h3>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
